<h3 class="add-user-heading">Update Menu </h3>
<hr>
<div class="form-group">
    Title :
    <input class="form-control"
           type ="text"
           placeholder="Title here."
           name= "title"
           [(ngModel)]="page.title">
</div>
<div [ngClass]="{'form-group': true, 'has-error': err}" >
    Alias :
    <input class="form-control"
           type ="text"
           placeholder="Alias here."
           name= "alias"
           [(ngModel)]="page.alias">
</div>
<p style='color:#ff0012'>{{aliasError}}</p>

Content :
<ckeditor [(ngModel)]="page.content" debounce="500">
    <p>Hello <strong>world</strong></p>
</ckeditor>
<br>
<div class="form-group">
    <button class="btn btn-primary" (click)="updatePage(gestionpage)">Update page</button>
    <button  class="btn " (click)="resetUpdatePage()">Reset</button>
</div>